In [1]:
%matplotlib inline
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split,ShuffleSplit
from sklearn.metrics import r2_score
from sklearn import ensemble
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

In [125]:
# ignore warnings from pandas
import warnings
warnings.filterwarnings('ignore')

In [167]:
df_train_raw = pd.read_csv("./data/train.csv")
df_test_raw = pd.read_csv("./data/data_for_test.csv")

In [ ]:
#df_train = df_train_raw.groupby(['key']).mean().reset_index()

In [168]:
df_train_raw['xx1_roll'] = df_train_raw['xx1'].rolling(3).median()
df_train_raw['xx2_roll'] = df_train_raw['xx2'].rolling(3).median() 
df_train_raw['xx3_roll'] = df_train_raw['xx3'].rolling(3).median() 
df_train_raw['xx4_roll'] = df_train_raw['xx4'].rolling(3).median() 
df_train_raw['xx5_roll'] = df_train_raw['xx5'].rolling(3).median()

In [169]:
df_train_raw.head()

,patient_id,key,gender,age,x1,x2,x3,x4,x5,x6,...,xx3,xx4,xx5,y_mean_MAP,y_mean_HR,xx1_roll,xx2_roll,xx3_roll,xx4_roll,xx5_roll
0,1891,1891-3,1,75,22,1,2,0,0,1,...,99.9,49.4,62.5,59.04,80.0,NaN,NaN,NaN,NaN,NaN
1,1891,1891-3,1,75,22,1,2,0,0,1,...,98.4,48.7,61.3,59.04,80.0,NaN,NaN,NaN,NaN,NaN
2,1891,1891-3,1,75,22,1,2,0,0,1,...,95.3,48.5,60.3,59.04,80.0,80.0,95.0,98.4,48.7,61.3
3,1891,1891-3,1,75,22,1,2,0,0,1,...,97.4,48.9,61.3,59.04,80.0,80.0,95.0,97.4,48.7,61.3
4,1891,1891-3,1,75,22,1,2,0,0,1,...,99.6,50.2,62.8,59.04,80.0,80.0,95.0,97.4,48.9,61.3

In [170]:
df_train = df_train_raw.groupby(['key']).mean().reset_index()

In [175]:
df2 = df_train_raw.groupby('key')[['xx1','xx2','xx3','xx4','xx5']].apply(lambda x : x[-2:-1]).reset_index()
df2.columns = ['key','level','xx1_2','xx2_2','xx3_2','xx4_2','xx5_2']
df2.drop(['level'], axis = 1, inplace = True)
df_train = df_train.merge(df2, on = 'key', how = 'left')

df3 = df_train_raw.groupby('key')[['xx1','xx2','xx3','xx4','xx5']].apply(lambda x : x[-3:-2]).reset_index()
df3.columns = ['key','level','xx1_3','xx2_3','xx3_3','xx4_3','xx5_3']
df3.drop(['level'], axis = 1, inplace = True)
df_train = df_train.merge(df3, on = 'key', how = 'left')

df4 = df_train_raw.groupby('key')[['xx1','xx2','xx3','xx4','xx5']].apply(lambda x : x[-4:-3]).reset_index()
df4.columns = ['key','level','xx1_4','xx2_4','xx3_4','xx4_4','xx5_4']
df4.drop(['level'], axis = 1, inplace = True)
df_train = df_train.merge(df4, on = 'key', how = 'left')

In [176]:
df1 = df_train_raw.groupby('key').tail(5).reset_index()
ts = df1.groupby(["key"]).agg({'xx1':['median','min','max'],'xx2':['median','min','max'],
                         'xx3':['median','min','max'], 'xx4':['median','min','max'],
                         'xx5':['median','min','max']}).reset_index()
ts.columns = ['key','xx1_10_median','xx1_10_min','xx1_10_max',
             'xx2_10_median','xx2_10_min','xx2_10_max',
             'xx3_10_median','xx3_10_min', 'xx3_10_max',
             'xx4_10_median','xx4_10_min','xx4_10_max',
             'xx5_10_median','xx5_10_min','xx5_10_max']

In [177]:
df_train = df_train.merge(ts, on = 'key', how = 'left')

In [178]:
stats = df_train_raw.groupby(['patient_id','key']).agg({'xx1':['last'],'xx2':['last'],
                                                        'xx3':['last'],'xx4':['last'],
                                                        'xx5':['last']}).reset_index()
stats.columns = ['patient_id','key','xx1_last','xx2_last',
                 'xx3_last','xx4_last','xx5_last']
stats.drop(['patient_id'], axis = 1, inplace = True)
df_train = df_train.merge(stats, on = 'key', how = 'left')

In [179]:
df_train.head()

,key,patient_id,gender,age,x1,x2,x3,x4,x5,x6,...,xx4_10_min,xx4_10_max,xx5_10_median,xx5_10_min,xx5_10_max,xx1_last,xx2_last,xx3_last,xx4_last,xx5_last
0,0-28,0,0,72,39,5,1,0,0,0,...,67.0,75.0,86.0,84.0,91.0,79.0,100.0,112.0,71.0,88.0
1,1-10,1,1,64,55,9,5,1,0,1,...,58.0,58.0,73.0,72.0,73.0,71.0,100.0,109.0,58.0,73.0
2,1-11,1,1,64,55,9,5,1,0,1,...,60.0,62.0,77.0,77.0,78.0,73.0,100.0,117.0,61.0,77.0
3,1-14,1,1,64,55,9,5,1,0,1,...,69.0,71.0,82.0,80.0,84.0,119.0,100.0,116.0,70.0,82.0
4,1-15,1,1,64,55,9,5,1,0,1,...,85.0,91.0,106.0,99.0,107.0,190.0,100.0,133.0,85.0,99.0

In [180]:
df_train.columns

Index(['key', 'patient_id', 'gender', 'age', 'x1', 'x2', 'x3', 'x4', 'x5',
       'x6', 'xx1', 'xx2', 'xx3', 'xx4', 'xx5', 'y_mean_MAP', 'y_mean_HR',
       'xx1_roll', 'xx2_roll', 'xx3_roll', 'xx4_roll', 'xx5_roll', 'xx1_2',
       'xx2_2', 'xx3_2', 'xx4_2', 'xx5_2', 'xx1_3', 'xx2_3', 'xx3_3', 'xx4_3',
       'xx5_3', 'xx1_4', 'xx2_4', 'xx3_4', 'xx4_4', 'xx5_4', 'xx1_10_median',
       'xx1_10_min', 'xx1_10_max', 'xx2_10_median', 'xx2_10_min', 'xx2_10_max',
       'xx3_10_median', 'xx3_10_min', 'xx3_10_max', 'xx4_10_median',
       'xx4_10_min', 'xx4_10_max', 'xx5_10_median', 'xx5_10_min', 'xx5_10_max',
       'xx1_last', 'xx2_last', 'xx3_last', 'xx4_last', 'xx5_last'],
      dtype='object')

In [181]:
#drop target column
df_train.drop(['y_mean_HR','y_mean_MAP'], axis = 1, inplace = True)

In [182]:
df_train.shape

(44949, 55)

In [183]:
valid_idx = range(int(df_train.shape[0]*80/100), df_train.shape[0])
train_idx = range(int(df_train.shape[0]*80/100))

In [184]:
#specify Target
y_mean_MAP = df_train_raw[['y_mean_MAP','key']].groupby('key').mean().reset_index().drop(['key'], axis = 1)
y_mean_HR = df_train_raw[['y_mean_HR','key']].groupby('key').mean().reset_index().drop(['key'], axis = 1)

In [185]:
#Train Test Split
X_map_train = df_train.loc[train_idx,:]
X_map_val = df_train.loc[valid_idx,:]
y_map_train = y_mean_MAP.loc[train_idx]
y_map_val = y_mean_MAP.loc[valid_idx]

In [186]:
X_hr_train = df_train.loc[train_idx,:]
X_hr_val = df_train.loc[valid_idx,:]
y_hr_train = y_mean_HR.loc[train_idx]
y_hr_val = y_mean_HR.loc[valid_idx]

In [187]:
#Sanity Check
print(X_map_train.key.isin(X_map_val.key).all())
print(X_hr_train.key.isin(X_hr_val.key).all())

False
False

In [188]:
X_map_train = X_map_train.drop(['key','patient_id'],axis = 1)
X_map_val = X_map_val.drop(['key','patient_id'],axis = 1)
X_hr_train = X_hr_train.drop(['key','patient_id'],axis = 1)
X_hr_val = X_hr_val.drop(['key','patient_id'],axis = 1)

In [189]:
X_map_train.shape

(35959, 53)

In [190]:
X_map_train.head()

,gender,age,x1,x2,x3,x4,x5,x6,xx1,xx2,...,xx4_10_min,xx4_10_max,xx5_10_median,xx5_10_min,xx5_10_max,xx1_last,xx2_last,xx3_last,xx4_last,xx5_last
0,0,72,39,5,1,0,0,0,80.166667,99.733333,...,67.0,75.0,86.0,84.0,91.0,79.0,100.0,112.0,71.0,88.0
1,1,64,55,9,5,1,0,1,72.100000,99.800000,...,58.0,58.0,73.0,72.0,73.0,71.0,100.0,109.0,58.0,73.0
2,1,64,55,9,5,1,0,1,71.500000,99.966667,...,60.0,62.0,77.0,77.0,78.0,73.0,100.0,117.0,61.0,77.0
3,1,64,55,9,5,1,0,1,99.133333,100.000000,...,69.0,71.0,82.0,80.0,84.0,119.0,100.0,116.0,70.0,82.0
4,1,64,55,9,5,1,0,1,150.200000,100.000000,...,85.0,91.0,106.0,99.0,107.0,190.0,100.0,133.0,85.0,99.0

### Deep learning model y_mean_MAP

In [191]:
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from keras.layers import Dropout
from keras import optimizers

In [194]:
model = Sequential()
model.add(Dense(53, input_dim=53, kernel_initializer='normal', activation='relu'))
model.add(Dense(45, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
# Compile model

adam = optimizers.Adam(learning_rate=0.0005, beta_1=0.9, beta_2=0.999, amsgrad=False)
model.compile(loss='mse', optimizer=adam, metrics=['mse','mae'])
history = model.fit(X_map_train, y_map_train, epochs=100, batch_size=50,  verbose=1, validation_data = (X_map_val,y_map_val))

Train on 35959 samples, validate on 8990 samples
Epoch 1/100
35959/35959 [==============================] - 1s 20us/step - loss: 190.4826 - mse: 190.4826 - mae: 6.6881 - val_loss: 25.9060 - val_mse: 25.9060 - val_mae: 3.2371
Epoch 2/100
35959/35959 [==============================] - 1s 15us/step - loss: 25.4516 - mse: 25.4516 - mae: 3.2230 - val_loss: 24.2841 - val_mse: 24.2841 - val_mae: 3.0246
Epoch 3/100
35959/35959 [==============================] - 1s 16us/step - loss: 24.4761 - mse: 24.4761 - mae: 3.1024 - val_loss: 23.5172 - val_mse: 23.5172 - val_mae: 2.9508
Epoch 4/100
35959/35959 [==============================] - 1s 16us/step - loss: 23.5839 - mse: 23.5839 - mae: 2.9913 - val_loss: 22.5974 - val_mse: 22.5974 - val_mae: 2.8225
Epoch 5/100
35959/35959 [==============================] - 1s 16us/step - loss: 22.7389 - mse: 22.7389 - mae: 2.8834 - val_loss: 22.5082 - val_mse: 22.5082 - val_mae: 2.8493s - loss: 22.5303 - mse: 22.5303 - mae: 2.89
Epoch 6/100
35959/35959 [==============================] - 1s 15us/step - loss: 22.3443 - mse: 22.3443 - mae: 2.8354 - val_loss: 22.9024 - val_mse: 22.9024 - val_mae: 2.8137
Epoch 7/100
35959/35959 [==============================] - 1s 16us/step - loss: 22.1084 - mse: 22.1083 - mae: 2.8014 - val_loss: 21.5679 - val_mse: 21.5679 - val_mae: 2.7130
Epoch 8/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.6931 - mse: 21.6931 - mae: 2.7603 - val_loss: 22.3499 - val_mse: 22.3499 - val_mae: 2.7573
Epoch 9/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.5935 - mse: 21.5935 - mae: 2.7480 - val_loss: 21.1814 - val_mse: 21.1814 - val_mae: 2.6677
Epoch 10/100
35959/35959 [==============================] - 1s 15us/step - loss: 21.7243 - mse: 21.7243 - mae: 2.7753 - val_loss: 23.2560 - val_mse: 23.2560 - val_mae: 2.9235
Epoch 11/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.6300 - mse: 21.6300 - mae: 2.7682 - val_loss: 21.2928 - val_mse: 21.2928 - val_mae: 2.5830
Epoch 12/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.5297 - mse: 21.5297 - mae: 2.7653 - val_loss: 20.9404 - val_mse: 20.9404 - val_mae: 2.5383
Epoch 13/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.4046 - mse: 21.4046 - mae: 2.7157 - val_loss: 21.6672 - val_mse: 21.6672 - val_mae: 2.8235
Epoch 14/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.6254 - mse: 21.6254 - mae: 2.7676 - val_loss: 20.8327 - val_mse: 20.8327 - val_mae: 2.5243
Epoch 15/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.2797 - mse: 21.2797 - mae: 2.7057 - val_loss: 25.3470 - val_mse: 25.3470 - val_mae: 3.2760
Epoch 16/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.4395 - mse: 21.4395 - mae: 2.7339 - val_loss: 21.5639 - val_mse: 21.5639 - val_mae: 2.8103
Epoch 17/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.3208 - mse: 21.3208 - mae: 2.7362 - val_loss: 22.5054 - val_mse: 22.5054 - val_mae: 2.8221
Epoch 18/100
35959/35959 [==============================] - 1s 17us/step - loss: 21.5689 - mse: 21.5689 - mae: 2.7812 - val_loss: 34.8031 - val_mse: 34.8031 - val_mae: 4.4704
Epoch 19/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.7564 - mse: 21.7564 - mae: 2.7848 - val_loss: 21.6980 - val_mse: 21.6980 - val_mae: 2.8517
Epoch 20/100
35959/35959 [==============================] - 1s 17us/step - loss: 21.4579 - mse: 21.4579 - mae: 2.7608 - val_loss: 21.5892 - val_mse: 21.5892 - val_mae: 2.6398
Epoch 21/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.2566 - mse: 21.2566 - mae: 2.7170 - val_loss: 21.2714 - val_mse: 21.2714 - val_mae: 2.7620
Epoch 22/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.2134 - mse: 21.2134 - mae: 2.7032 - val_loss: 20.7827 - val_mse: 20.7827 - val_mae: 2.5623
Epoch 23/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.2059 - mse: 21.2059 - mae: 2.7224 - val_loss: 21.6607 - val_mse: 21.6608 - val_mae: 2.6663
Epoch 24/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.3312 - mse: 21.3312 - mae: 2.7496 - val_loss: 24.1952 - val_mse: 24.1952 - val_mae: 3.0994
Epoch 25/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.4163 - mse: 21.4163 - mae: 2.7516 - val_loss: 21.2674 - val_mse: 21.2674 - val_mae: 2.5768
Epoch 26/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.1114 - mse: 21.1114 - mae: 2.6991 - val_loss: 21.0292 - val_mse: 21.0292 - val_mae: 2.5636
Epoch 27/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.3238 - mse: 21.3238 - mae: 2.7471 - val_loss: 21.6348 - val_mse: 21.6348 - val_mae: 2.8269
Epoch 28/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.2783 - mse: 21.2783 - mae: 2.7284 - val_loss: 20.8616 - val_mse: 20.8616 - val_mae: 2.5978
Epoch 29/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.1155 - mse: 21.1155 - mae: 2.6941 - val_loss: 21.3456 - val_mse: 21.3456 - val_mae: 2.6086
Epoch 30/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.3191 - mse: 21.3192 - mae: 2.7258 - val_loss: 24.0658 - val_mse: 24.0658 - val_mae: 3.0844
Epoch 31/100
35959/35959 [==============================] - 1s 17us/step - loss: 21.0843 - mse: 21.0843 - mae: 2.6918 - val_loss: 22.7611 - val_mse: 22.7611 - val_mae: 3.0598
Epoch 32/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.2324 - mse: 21.2324 - mae: 2.7205 - val_loss: 20.8435 - val_mse: 20.8435 - val_mae: 2.5390
Epoch 33/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.1780 - mse: 21.1780 - mae: 2.7114 - val_loss: 23.0465 - val_mse: 23.0465 - val_mae: 3.1284
Epoch 34/100
35959/35959 [==============================] - 1s 17us/step - loss: 21.3760 - mse: 21.3760 - mae: 2.7461 - val_loss: 20.9184 - val_mse: 20.9185 - val_mae: 2.6389
Epoch 35/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.3487 - mse: 21.3487 - mae: 2.7431 - val_loss: 21.4438 - val_mse: 21.4438 - val_mae: 2.7995
Epoch 36/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.3566 - mse: 21.3566 - mae: 2.7486 - val_loss: 20.8815 - val_mse: 20.8815 - val_mae: 2.5803
Epoch 37/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.2408 - mse: 21.2408 - mae: 2.7179 - val_loss: 21.2891 - val_mse: 21.2891 - val_mae: 2.7508
Epoch 38/100
35959/35959 [==============================] - 1s 17us/step - loss: 21.2120 - mse: 21.2120 - mae: 2.7162 - val_loss: 22.5841 - val_mse: 22.5841 - val_mae: 3.0353
Epoch 39/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.2170 - mse: 21.2170 - mae: 2.7108 - val_loss: 23.3308 - val_mse: 23.3308 - val_mae: 3.2058
Epoch 40/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.1370 - mse: 21.1370 - mae: 2.7000 - val_loss: 20.7314 - val_mse: 20.7314 - val_mae: 2.5597
Epoch 41/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.3722 - mse: 21.3722 - mae: 2.7369 - val_loss: 21.9744 - val_mse: 21.9744 - val_mae: 2.9214
Epoch 42/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0802 - mse: 21.0802 - mae: 2.6943 - val_loss: 21.9552 - val_mse: 21.9552 - val_mae: 2.7220
Epoch 43/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0850 - mse: 21.0850 - mae: 2.7063 - val_loss: 20.8023 - val_mse: 20.8023 - val_mae: 2.5218
Epoch 44/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.3343 - mse: 21.3343 - mae: 2.7388 - val_loss: 20.8382 - val_mse: 20.8382 - val_mae: 2.5699
Epoch 45/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.1641 - mse: 21.1641 - mae: 2.7088 - val_loss: 21.2393 - val_mse: 21.2393 - val_mae: 2.6293
Epoch 46/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0403 - mse: 21.0404 - mae: 2.7056 - val_loss: 20.9481 - val_mse: 20.9481 - val_mae: 2.6719
Epoch 47/100

35959/35959 [==============================] - 1s 15us/step - loss: 21.1233 - mse: 21.1233 - mae: 2.7098 - val_loss: 21.1224 - val_mse: 21.1224 - val_mae: 2.5710
Epoch 48/100
35959/35959 [==============================] - 1s 15us/step - loss: 21.1026 - mse: 21.1026 - mae: 2.7061 - val_loss: 20.8160 - val_mse: 20.8160 - val_mae: 2.5765
Epoch 49/100
35959/35959 [==============================] - 1s 15us/step - loss: 21.1431 - mse: 21.1431 - mae: 2.7207 - val_loss: 20.7871 - val_mse: 20.7871 - val_mae: 2.5163
Epoch 50/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0897 - mse: 21.0897 - mae: 2.7039 - val_loss: 20.7816 - val_mse: 20.7816 - val_mae: 2.5897
Epoch 51/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.1026 - mse: 21.1026 - mae: 2.6973 - val_loss: 21.0956 - val_mse: 21.0956 - val_mae: 2.6096
Epoch 52/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.2294 - mse: 21.2294 - mae: 2.7232 - val_loss: 20.8537 - val_mse: 20.8537 - val_mae: 2.6230
Epoch 53/100
35959/35959 [==============================] - 1s 16us/step - loss: 20.9991 - mse: 20.9991 - mae: 2.6964 - val_loss: 20.8764 - val_mse: 20.8764 - val_mae: 2.5906
Epoch 54/100
35959/35959 [==============================] - 1s 17us/step - loss: 21.0042 - mse: 21.0042 - mae: 2.6861 - val_loss: 22.4376 - val_mse: 22.4376 - val_mae: 2.8181
Epoch 55/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.1144 - mse: 21.1144 - mae: 2.7122 - val_loss: 21.0662 - val_mse: 21.0662 - val_mae: 2.5738
Epoch 56/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0463 - mse: 21.0463 - mae: 2.6953 - val_loss: 20.7510 - val_mse: 20.7511 - val_mae: 2.5911
Epoch 57/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0440 - mse: 21.0440 - mae: 2.6966 - val_loss: 21.3550 - val_mse: 21.3551 - val_mae: 2.6182
Epoch 58/100
35959/35959 [==============================] - 1s 16us/step - loss: 20.8554 - mse: 20.8554 - mae: 2.6608 - val_loss: 20.7576 - val_mse: 20.7576 - val_mae: 2.5501
Epoch 59/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9839 - mse: 20.9839 - mae: 2.6905 - val_loss: 22.3873 - val_mse: 22.3873 - val_mae: 2.8009
Epoch 60/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0912 - mse: 21.0912 - mae: 2.7028 - val_loss: 21.0868 - val_mse: 21.0868 - val_mae: 2.5660
Epoch 61/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.1423 - mse: 21.1423 - mae: 2.7059 - val_loss: 21.5359 - val_mse: 21.5359 - val_mae: 2.6432
Epoch 62/100
35959/35959 [==============================] - 1s 16us/step - loss: 20.9301 - mse: 20.9300 - mae: 2.6729 - val_loss: 21.6293 - val_mse: 21.6293 - val_mae: 2.8481
Epoch 63/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.1611 - mse: 21.1611 - mae: 2.7058 - val_loss: 20.8843 - val_mse: 20.8843 - val_mae: 2.6314
Epoch 64/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0060 - mse: 21.0060 - mae: 2.6998 - val_loss: 22.5491 - val_mse: 22.5491 - val_mae: 3.0333
Epoch 65/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0289 - mse: 21.0289 - mae: 2.6963 - val_loss: 20.7368 - val_mse: 20.7368 - val_mae: 2.5701
Epoch 66/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9567 - mse: 20.9567 - mae: 2.6817 - val_loss: 20.7461 - val_mse: 20.7461 - val_mae: 2.5520
Epoch 67/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0313 - mse: 21.0313 - mae: 2.6890 - val_loss: 20.8732 - val_mse: 20.8732 - val_mae: 2.5514
Epoch 68/100
35959/35959 [==============================] - 1s 16us/step - loss: 20.9585 - mse: 20.9585 - mae: 2.6787 - val_loss: 22.0871 - val_mse: 22.0871 - val_mae: 2.7492
Epoch 69/100
35959/35959 [==============================] - 1s 17us/step - loss: 21.0212 - mse: 21.0212 - mae: 2.6955 - val_loss: 21.4974 - val_mse: 21.4974 - val_mae: 2.8087
Epoch 70/100
35959/35959 [==============================] - 1s 17us/step - loss: 20.9712 - mse: 20.9712 - mae: 2.6837 - val_loss: 21.1235 - val_mse: 21.1235 - val_mae: 2.7137
Epoch 71/100
35959/35959 [==============================] - 1s 17us/step - loss: 20.9564 - mse: 20.9564 - mae: 2.6839 - val_loss: 23.3582 - val_mse: 23.3582 - val_mae: 2.9747
Epoch 72/100
35959/35959 [==============================] - 1s 17us/step - loss: 21.0671 - mse: 21.0671 - mae: 2.7015 - val_loss: 21.0417 - val_mse: 21.0417 - val_mae: 2.6928
Epoch 73/100
35959/35959 [==============================] - 1s 17us/step - loss: 21.0779 - mse: 21.0779 - mae: 2.7077 - val_loss: 21.1356 - val_mse: 21.1356 - val_mae: 2.5744
Epoch 74/100
35959/35959 [==============================] - 1s 16us/step - loss: 20.9271 - mse: 20.9271 - mae: 2.6809 - val_loss: 21.0576 - val_mse: 21.0576 - val_mae: 2.5787
Epoch 75/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0004 - mse: 21.0004 - mae: 2.6912 - val_loss: 22.7511 - val_mse: 22.7511 - val_mae: 3.0906
Epoch 76/100
35959/35959 [==============================] - 1s 15us/step - loss: 21.1538 - mse: 21.1538 - mae: 2.7124 - val_loss: 20.8490 - val_mse: 20.8490 - val_mae: 2.6269
Epoch 77/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9310 - mse: 20.9310 - mae: 2.6667 - val_loss: 22.6974 - val_mse: 22.6974 - val_mae: 3.0748
Epoch 78/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9965 - mse: 20.9965 - mae: 2.6963 - val_loss: 21.1369 - val_mse: 21.1369 - val_mae: 2.7023
Epoch 79/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9668 - mse: 20.9668 - mae: 2.6753 - val_loss: 20.9970 - val_mse: 20.9970 - val_mae: 2.6580
Epoch 80/100
35959/35959 [==============================] - 1s 15us/step - loss: 21.0309 - mse: 21.0309 - mae: 2.6898 - val_loss: 20.7317 - val_mse: 20.7317 - val_mae: 2.5714
Epoch 81/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9715 - mse: 20.9715 - mae: 2.6841 - val_loss: 20.7582 - val_mse: 20.7582 - val_mae: 2.5913
Epoch 82/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9213 - mse: 20.9213 - mae: 2.6732 - val_loss: 20.8830 - val_mse: 20.8830 - val_mae: 2.5500
Epoch 83/100
35959/35959 [==============================] - 1s 16us/step - loss: 20.9879 - mse: 20.9879 - mae: 2.7002 - val_loss: 21.8987 - val_mse: 21.8986 - val_mae: 2.7068
Epoch 84/100
35959/35959 [==============================] - 1s 15us/step - loss: 21.0057 - mse: 21.0057 - mae: 2.6856 - val_loss: 21.0599 - val_mse: 21.0599 - val_mae: 2.5751
Epoch 85/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9661 - mse: 20.9661 - mae: 2.6902 - val_loss: 20.7759 - val_mse: 20.7759 - val_mae: 2.5517
Epoch 86/100
35959/35959 [==============================] - 1s 16us/step - loss: 21.0679 - mse: 21.0679 - mae: 2.7030 - val_loss: 20.7906 - val_mse: 20.7906 - val_mae: 2.6031
Epoch 87/100
35959/35959 [==============================] - 1s 16us/step - loss: 20.8604 - mse: 20.8604 - mae: 2.6745 - val_loss: 22.5376 - val_mse: 22.5376 - val_mae: 3.0356
Epoch 88/100
35959/35959 [==============================] - 1s 15us/step - loss: 21.0396 - mse: 21.0396 - mae: 2.7017 - val_loss: 20.8751 - val_mse: 20.8751 - val_mae: 2.5299
Epoch 89/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9399 - mse: 20.9399 - mae: 2.6774 - val_loss: 20.8521 - val_mse: 20.8521 - val_mae: 2.5508
Epoch 90/100
35959/35959 [==============================] - 1s 16us/step - loss: 20.9602 - mse: 20.9602 - mae: 2.6912 - val_loss: 20.7884 - val_mse: 20.7884 - val_mae: 2.5292
Epoch 91/100
35959/35959 [==============================] - 1s 16us/step - loss: 20.8287 - mse: 20.8287 - mae: 2.6624 - val_loss: 20.7165 - val_mse: 20.7165 - val_mae: 2.5457
Epoch 92/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.8866 - mse: 20.8866 - mae: 2.6670 - val_loss: 20.7232 - val_mse: 20.7232 - val_mae: 2.5752
Epoch 93/100

35959/35959 [==============================] - 1s 16us/step - loss: 20.8779 - mse: 20.8779 - mae: 2.6797 - val_loss: 20.7570 - val_mse: 20.7570 - val_mae: 2.5222
Epoch 94/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.8570 - mse: 20.8570 - mae: 2.6589 - val_loss: 21.3259 - val_mse: 21.3259 - val_mae: 2.7645
Epoch 95/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9261 - mse: 20.9261 - mae: 2.6703 - val_loss: 21.0046 - val_mse: 21.0046 - val_mae: 2.6810
Epoch 96/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9847 - mse: 20.9847 - mae: 2.6941 - val_loss: 20.7744 - val_mse: 20.7744 - val_mae: 2.5961
Epoch 97/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.7579 - mse: 20.7579 - mae: 2.6465 - val_loss: 20.8822 - val_mse: 20.8822 - val_mae: 2.6297
Epoch 98/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.8847 - mse: 20.8847 - mae: 2.6703 - val_loss: 20.7028 - val_mse: 20.7028 - val_mae: 2.5371
Epoch 99/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9407 - mse: 20.9407 - mae: 2.6832 - val_loss: 21.0570 - val_mse: 21.0570 - val_mae: 2.6912
Epoch 100/100
35959/35959 [==============================] - 1s 15us/step - loss: 20.9251 - mse: 20.9251 - mae: 2.6857 - val_loss: 21.0620 - val_mse: 21.0619 - val_mae: 2.7048

In [195]:
y_map_val_pred = model.predict(X_map_val)
r2_score(y_map_val,y_map_val_pred)

0.889880042804945

### Deep learning Model y_mean_HR

In [160]:
model_hr = Sequential()
model_hr.add(Dense(38, input_dim=38, kernel_initializer='normal', activation='relu'))
model_hr.add(Dense(33, kernel_initializer='normal', activation='relu'))
model_hr.add(Dense(1, kernel_initializer='normal'))
    # Compile model
adam = optimizers.Adam(learning_rate=0.003, beta_1=0.9, beta_2=0.999, amsgrad=False)
model_hr.compile(loss='mse', optimizer=adam, metrics=['mse','mae'])
history_hr = model_hr.fit(X_hr_train, y_hr_train, epochs=100, batch_size=50,  verbose=1, validation_data = (X_hr_val,y_hr_val))

Train on 35959 samples, validate on 8990 samples
Epoch 1/100
35959/35959 [==============================] - 1s 19us/step - loss: 152.0473 - mse: 152.0473 - mae: 5.3234 - val_loss: 12.1353 - val_mse: 12.1353 - val_mae: 1.7582
Epoch 2/100
35959/35959 [==============================] - 1s 15us/step - loss: 15.4673 - mse: 15.4673 - mae: 1.9997 - val_loss: 21.1086 - val_mse: 21.1086 - val_mae: 3.4918
Epoch 3/100
35959/35959 [==============================] - 1s 16us/step - loss: 16.0179 - mse: 16.0179 - mae: 2.1351 - val_loss: 17.4095 - val_mse: 17.4095 - val_mae: 2.9049
Epoch 4/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.9084 - mse: 15.9084 - mae: 2.1424 - val_loss: 13.6575 - val_mse: 13.6575 - val_mae: 2.1951
Epoch 5/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.8705 - mse: 15.8705 - mae: 2.1356 - val_loss: 13.1756 - val_mse: 13.1756 - val_mae: 2.0790
Epoch 6/100
35959/35959 [==============================] - 1s 16us/step - loss: 16.2407 - mse: 16.2407 - mae: 2.1909 - val_loss: 13.2114 - val_mse: 13.2114 - val_mae: 2.1106
Epoch 7/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.9827 - mse: 15.9827 - mae: 2.1826 - val_loss: 16.6770 - val_mse: 16.6770 - val_mae: 2.8048
Epoch 8/100
35959/35959 [==============================] - 1s 15us/step - loss: 15.9120 - mse: 15.9120 - mae: 2.1342 - val_loss: 11.7308 - val_mse: 11.7308 - val_mae: 1.6622
Epoch 9/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.7428 - mse: 15.7429 - mae: 2.1138 - val_loss: 11.5417 - val_mse: 11.5417 - val_mae: 1.6085
Epoch 10/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.8918 - mse: 15.8918 - mae: 2.1627 - val_loss: 13.8094 - val_mse: 13.8094 - val_mae: 2.2269
Epoch 11/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.6788 - mse: 15.6788 - mae: 2.1170 - val_loss: 12.6321 - val_mse: 12.6321 - val_mae: 1.9605
Epoch 12/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.8346 - mse: 15.8346 - mae: 2.1408 - val_loss: 17.5343 - val_mse: 17.5343 - val_mae: 2.9577
Epoch 13/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.7019 - mse: 15.7019 - mae: 2.1169 - val_loss: 12.9454 - val_mse: 12.9454 - val_mae: 2.0498
Epoch 14/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.8903 - mse: 15.8903 - mae: 2.1520 - val_loss: 14.1837 - val_mse: 14.1837 - val_mae: 2.3534
Epoch 15/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.9533 - mse: 15.9533 - mae: 2.1601 - val_loss: 12.0535 - val_mse: 12.0535 - val_mae: 1.8071
Epoch 16/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.4362 - mse: 15.4362 - mae: 2.0615 - val_loss: 16.3819 - val_mse: 16.3819 - val_mae: 2.7624
Epoch 17/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.6198 - mse: 15.6198 - mae: 2.1130 - val_loss: 11.9527 - val_mse: 11.9527 - val_mae: 1.7805
Epoch 18/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.5401 - mse: 15.5401 - mae: 2.0872 - val_loss: 11.4826 - val_mse: 11.4826 - val_mae: 1.6311
Epoch 19/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.4110 - mse: 15.4110 - mae: 2.0703 - val_loss: 12.1564 - val_mse: 12.1564 - val_mae: 1.8594
Epoch 20/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.6189 - mse: 15.6189 - mae: 2.1126 - val_loss: 13.4972 - val_mse: 13.4972 - val_mae: 2.2127
Epoch 21/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.4186 - mse: 15.4186 - mae: 2.0659 - val_loss: 12.5850 - val_mse: 12.5850 - val_mae: 1.9717
Epoch 22/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.1396 - mse: 15.1396 - mae: 1.9958 - val_loss: 12.8863 - val_mse: 12.8863 - val_mae: 2.0716
Epoch 23/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.2465 - mse: 15.2465 - mae: 2.0344 - val_loss: 14.3504 - val_mse: 14.3504 - val_mae: 2.3898
Epoch 24/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.9962 - mse: 14.9962 - mae: 1.9879 - val_loss: 14.0790 - val_mse: 14.0790 - val_mae: 2.3350
Epoch 25/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.0820 - mse: 15.0820 - mae: 1.9971 - val_loss: 11.5008 - val_mse: 11.5008 - val_mae: 1.6507
Epoch 26/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.1564 - mse: 15.1564 - mae: 2.0207 - val_loss: 17.8038 - val_mse: 17.8038 - val_mae: 3.0025
Epoch 27/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.1901 - mse: 15.1901 - mae: 2.0162 - val_loss: 12.1125 - val_mse: 12.1125 - val_mae: 1.8294
Epoch 28/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.9187 - mse: 14.9187 - mae: 1.9659 - val_loss: 12.5850 - val_mse: 12.5850 - val_mae: 1.9542
Epoch 29/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.2304 - mse: 15.2304 - mae: 2.0401 - val_loss: 13.9054 - val_mse: 13.9054 - val_mae: 2.3005
Epoch 30/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.0196 - mse: 15.0196 - mae: 1.9923 - val_loss: 11.8748 - val_mse: 11.8748 - val_mae: 1.7757
Epoch 31/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.0597 - mse: 15.0597 - mae: 1.9969 - val_loss: 11.7118 - val_mse: 11.7118 - val_mae: 1.7331
Epoch 32/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.0896 - mse: 15.0896 - mae: 2.0039 - val_loss: 13.0750 - val_mse: 13.0750 - val_mae: 2.0823
Epoch 33/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.2988 - mse: 15.2988 - mae: 2.0458 - val_loss: 15.8129 - val_mse: 15.8129 - val_mae: 2.6839
Epoch 34/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.9250 - mse: 14.9250 - mae: 1.9862 - val_loss: 11.3543 - val_mse: 11.3543 - val_mae: 1.5830
Epoch 35/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.8341 - mse: 14.8341 - mae: 1.9453 - val_loss: 11.8333 - val_mse: 11.8333 - val_mae: 1.7593
Epoch 36/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.0521 - mse: 15.0521 - mae: 1.9966 - val_loss: 12.4698 - val_mse: 12.4698 - val_mae: 1.9714
Epoch 37/100
35959/35959 [==============================] - 1s 15us/step - loss: 15.1700 - mse: 15.1700 - mae: 2.0314 - val_loss: 11.4957 - val_mse: 11.4957 - val_mae: 1.6529
Epoch 38/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.9688 - mse: 14.9688 - mae: 1.9883 - val_loss: 12.3992 - val_mse: 12.3992 - val_mae: 1.9461
Epoch 39/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.6839 - mse: 14.6839 - mae: 1.9169 - val_loss: 11.4801 - val_mse: 11.4801 - val_mae: 1.6527
Epoch 40/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.9858 - mse: 14.9858 - mae: 1.9893 - val_loss: 11.5604 - val_mse: 11.5604 - val_mae: 1.6924
Epoch 41/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.8719 - mse: 14.8719 - mae: 1.9534 - val_loss: 31.5869 - val_mse: 31.5869 - val_mae: 4.7744
Epoch 42/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.1607 - mse: 15.1607 - mae: 1.9994 - val_loss: 11.6390 - val_mse: 11.6390 - val_mae: 1.7198
Epoch 43/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.8384 - mse: 14.8384 - mae: 1.9526 - val_loss: 13.1330 - val_mse: 13.1330 - val_mae: 2.1217
Epoch 44/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.0547 - mse: 15.0547 - mae: 2.0004 - val_loss: 11.4455 - val_mse: 11.4455 - val_mae: 1.6403
Epoch 45/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.7961 - mse: 14.7961 - mae: 1.9484 - val_loss: 18.3563 - val_mse: 18.3563 - val_mae: 3.1346
Epoch 46/100
35959/35959 [==============================] - 1s 16us/step - loss: 15.0483 - mse: 15.0483 - mae: 1.9855 - val_loss: 11.5250 - val_mse: 11.5250 - val_mae: 1.6883
Epoch 47/100

35959/35959 [==============================] - 1s 15us/step - loss: 14.6570 - mse: 14.6570 - mae: 1.9216 - val_loss: 11.3461 - val_mse: 11.3461 - val_mae: 1.6099
Epoch 48/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7184 - mse: 14.7185 - mae: 1.9290 - val_loss: 11.4969 - val_mse: 11.4969 - val_mae: 1.6749
Epoch 49/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.8029 - mse: 14.8029 - mae: 1.9296 - val_loss: 11.3131 - val_mse: 11.3131 - val_mae: 1.5956
Epoch 50/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.8536 - mse: 14.8536 - mae: 1.9607 - val_loss: 11.5517 - val_mse: 11.5517 - val_mae: 1.6853
Epoch 51/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7768 - mse: 14.7768 - mae: 1.9418 - val_loss: 14.0779 - val_mse: 14.0779 - val_mae: 2.3553
Epoch 52/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.9592 - mse: 14.9592 - mae: 1.9716 - val_loss: 13.3492 - val_mse: 13.3492 - val_mae: 2.2016
Epoch 53/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.6527 - mse: 14.6527 - mae: 1.9068 - val_loss: 13.0742 - val_mse: 13.0742 - val_mae: 2.1407
Epoch 54/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6775 - mse: 14.6775 - mae: 1.9222 - val_loss: 12.4588 - val_mse: 12.4588 - val_mae: 1.9457
Epoch 55/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7166 - mse: 14.7166 - mae: 1.9224 - val_loss: 12.1284 - val_mse: 12.1284 - val_mae: 1.8928
Epoch 56/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6668 - mse: 14.6668 - mae: 1.9159 - val_loss: 11.4877 - val_mse: 11.4877 - val_mae: 1.6679
Epoch 57/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.9225 - mse: 14.9225 - mae: 1.9972 - val_loss: 11.4098 - val_mse: 11.4098 - val_mae: 1.6443
Epoch 58/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7901 - mse: 14.7901 - mae: 1.9384 - val_loss: 11.6766 - val_mse: 11.6766 - val_mae: 1.7385
Epoch 59/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.6889 - mse: 14.6889 - mae: 1.9180 - val_loss: 12.5107 - val_mse: 12.5107 - val_mae: 1.9927
Epoch 60/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6341 - mse: 14.6341 - mae: 1.9160 - val_loss: 11.2981 - val_mse: 11.2981 - val_mae: 1.5837
Epoch 61/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7448 - mse: 14.7448 - mae: 1.9295 - val_loss: 13.5972 - val_mse: 13.5972 - val_mae: 2.2361
Epoch 62/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.9247 - mse: 14.9247 - mae: 1.9792 - val_loss: 11.3809 - val_mse: 11.3809 - val_mae: 1.6269
Epoch 63/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7661 - mse: 14.7661 - mae: 1.9368 - val_loss: 11.3217 - val_mse: 11.3217 - val_mae: 1.5915
Epoch 64/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5498 - mse: 14.5498 - mae: 1.8817 - val_loss: 11.4868 - val_mse: 11.4868 - val_mae: 1.6674
Epoch 65/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6087 - mse: 14.6087 - mae: 1.8965 - val_loss: 11.3276 - val_mse: 11.3276 - val_mae: 1.6026
Epoch 66/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7147 - mse: 14.7147 - mae: 1.9377 - val_loss: 13.7282 - val_mse: 13.7282 - val_mae: 2.2783
Epoch 67/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6777 - mse: 14.6777 - mae: 1.9366 - val_loss: 13.6661 - val_mse: 13.6661 - val_mae: 2.2743
Epoch 68/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5861 - mse: 14.5861 - mae: 1.9007 - val_loss: 11.7488 - val_mse: 11.7488 - val_mae: 1.7485
Epoch 69/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7044 - mse: 14.7044 - mae: 1.9242 - val_loss: 11.7836 - val_mse: 11.7836 - val_mae: 1.7665
Epoch 70/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5306 - mse: 14.5306 - mae: 1.8839 - val_loss: 11.3804 - val_mse: 11.3804 - val_mae: 1.6341
Epoch 71/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7190 - mse: 14.7190 - mae: 1.9472 - val_loss: 11.2841 - val_mse: 11.2841 - val_mae: 1.5884
Epoch 72/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6486 - mse: 14.6486 - mae: 1.9127 - val_loss: 13.9267 - val_mse: 13.9267 - val_mae: 2.3105
Epoch 73/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5093 - mse: 14.5093 - mae: 1.8895 - val_loss: 11.3004 - val_mse: 11.3004 - val_mae: 1.5831
Epoch 74/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.4599 - mse: 14.4599 - mae: 1.8737 - val_loss: 12.7739 - val_mse: 12.7739 - val_mae: 2.0738
Epoch 75/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7061 - mse: 14.7061 - mae: 1.9285 - val_loss: 11.2834 - val_mse: 11.2834 - val_mae: 1.6049
Epoch 76/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7519 - mse: 14.7519 - mae: 1.9387 - val_loss: 11.8438 - val_mse: 11.8438 - val_mae: 1.8105
Epoch 77/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.7046 - mse: 14.7046 - mae: 1.9329 - val_loss: 12.7432 - val_mse: 12.7432 - val_mae: 2.0457
Epoch 78/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.5301 - mse: 14.5301 - mae: 1.8938 - val_loss: 11.4501 - val_mse: 11.4501 - val_mae: 1.6596
Epoch 79/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5152 - mse: 14.5152 - mae: 1.8810 - val_loss: 11.4914 - val_mse: 11.4914 - val_mae: 1.7054
Epoch 80/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5753 - mse: 14.5753 - mae: 1.9131 - val_loss: 11.7937 - val_mse: 11.7937 - val_mae: 1.7557
Epoch 81/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6064 - mse: 14.6064 - mae: 1.9195 - val_loss: 11.6495 - val_mse: 11.6495 - val_mae: 1.7344
Epoch 82/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.4989 - mse: 14.4989 - mae: 1.8842 - val_loss: 11.7220 - val_mse: 11.7220 - val_mae: 1.7823
Epoch 83/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6236 - mse: 14.6236 - mae: 1.9188 - val_loss: 11.2973 - val_mse: 11.2972 - val_mae: 1.5971
Epoch 84/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6045 - mse: 14.6045 - mae: 1.9146 - val_loss: 11.9156 - val_mse: 11.9156 - val_mae: 1.8118
Epoch 85/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7062 - mse: 14.7062 - mae: 1.9290 - val_loss: 12.1326 - val_mse: 12.1326 - val_mae: 1.8764
Epoch 86/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5396 - mse: 14.5396 - mae: 1.9042 - val_loss: 11.8779 - val_mse: 11.8779 - val_mae: 1.8001
Epoch 87/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5356 - mse: 14.5356 - mae: 1.9074 - val_loss: 12.7623 - val_mse: 12.7623 - val_mae: 2.0531
Epoch 88/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.7867 - mse: 14.7867 - mae: 1.9511 - val_loss: 11.2892 - val_mse: 11.2892 - val_mae: 1.5877
Epoch 89/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.4726 - mse: 14.4726 - mae: 1.8890 - val_loss: 12.7596 - val_mse: 12.7596 - val_mae: 2.0686
Epoch 90/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5585 - mse: 14.5585 - mae: 1.9050 - val_loss: 11.2301 - val_mse: 11.2301 - val_mae: 1.5760
Epoch 91/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5077 - mse: 14.5077 - mae: 1.8934 - val_loss: 11.7832 - val_mse: 11.7832 - val_mae: 1.7789
Epoch 92/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.4737 - mse: 14.4737 - mae: 1.8898 - val_loss: 11.8202 - val_mse: 11.8202 - val_mae: 1.8158
Epoch 93/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.4957 - mse: 14.4957 - mae: 1.8847 - val_loss: 11.3532 - val_mse: 11.3532 - val_mae: 1.6478

Epoch 94/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5227 - mse: 14.5227 - mae: 1.8868 - val_loss: 11.9794 - val_mse: 11.9794 - val_mae: 1.8408
Epoch 95/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5652 - mse: 14.5652 - mae: 1.8970 - val_loss: 11.3784 - val_mse: 11.3784 - val_mae: 1.6604
Epoch 96/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.4482 - mse: 14.4482 - mae: 1.8835 - val_loss: 11.9070 - val_mse: 11.9070 - val_mae: 1.8214
Epoch 97/100
35959/35959 [==============================] - 1s 16us/step - loss: 14.4980 - mse: 14.4980 - mae: 1.8894 - val_loss: 12.7284 - val_mse: 12.7284 - val_mae: 2.0731
Epoch 98/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.6966 - mse: 14.6966 - mae: 1.9406 - val_loss: 11.5969 - val_mse: 11.5969 - val_mae: 1.7252
Epoch 99/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5792 - mse: 14.5792 - mae: 1.9147 - val_loss: 14.2508 - val_mse: 14.2508 - val_mae: 2.4048
Epoch 100/100
35959/35959 [==============================] - 1s 15us/step - loss: 14.5852 - mse: 14.5852 - mae: 1.9275 - val_loss: 11.2929 - val_mse: 11.2929 - val_mae: 1.6277- loss: 12.7902 - mse: 12.7902 - mae:

In [161]:
y_hr_val_pred = model_hr.predict(X_hr_val)
r2_score(y_hr_val,y_hr_val_pred)

0.9528174450328679

### XGBoost on y_mean_MAP

In [ ]:
#feature selection
X_map_train.columns

In [ ]:
# X_map_train = X_map_train[['gender','age','x1','x2','xx3','xx4','xx5','xx3_mean','xx3_last',
#                    'xx4_mean','xx4_last','xx5_mean','xx5_last']]
# X_map_val = X_map_val[['gender','age','x1','x2','xx3','xx4','xx5','xx3_mean','xx3_last',
#                    'xx4_mean','xx4_last','xx5_mean','xx5_last']]
X_map_train = X_map_train.drop(['key','patient_id'],axis = 1)
X_map_val = X_map_val.drop(['key','patient_id'],axis = 1)

In [ ]:
params = {'learning_rate':[0.03,0.01,0.1,0.5],
            'min_child_weight':[4,5], 
          'gamma':[i/10.0 for i in range(3,6)],  
          'subsample':[i/10.0 for i in range(6,11)],
            'n_estimator':[200,500,1000,1500], 
            'max_depth': [2,3,4]}

xgb_map = xgb.XGBRegressor(nthread=-1) 

grid_map = GridSearchCV(xgb_map, params)
grid_map.fit(X_map_train,y_map_train)

In [ ]:
print(r2_score(y_map_val, grid_map.best_estimator_.predict(X_map_val)))

In [ ]:
xgb_map = xgb.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.01,
                 max_depth=3,
                 min_child_weight=1.5,
                 n_estimators=3000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)
xgb_map.fit(X_map_train,y_map_train)

In [ ]:
y_map_val_pred = xgb_map.predict(X_map_val)
r2_score(y_map_val,y_map_val_pred)

### XGBoost on y_mean_HR

In [ ]:
#feature selection
X_hr_train.columns

In [ ]:
X_hr_train = X_hr_train[['age','xx4','xx5','xx4_mean','xx4_last',
                          'xx5_mean','xx5_last','xx1','xx1_mean','xx1_last']]
X_hr_val = X_hr_val[['age','xx4','xx5','xx4_mean','xx4_last',
                          'xx5_mean','xx5_last','xx1','xx1_mean','xx1_last']]

In [ ]:
params = {'learning_rate':[0.03,0.01,0.1,0.5],  
          'subsample':[i/10.0 for i in range(6,11)],
            'n_estimator':[200,500,1000,1500], 
            'max_depth': [2,3,4]}

xgb_hr = xgb.XGBRegressor(nthread=-1) 

grid_hr = GridSearchCV(xgb_hr, params)
grid_hr.fit(X_hr_train,y_hr_train)

In [ ]:
print(r2_score(y_hr_val, grid_hr.best_estimator_.predict(X_hr_val)))

In [ ]:
xgb_hr = xgb.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.01,
                 max_depth=3,
                 min_child_weight=1.5,
                 n_estimators=1000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)
xgb_hr.fit(X_hr_train,y_hr_train)

In [ ]:
y_hr_val_pred = xgb_hr.predict(X_hr_val)
r2_score(y_hr_val,y_hr_val_pred)

### Test

In [50]:
df_test_raw['xx1_roll'] = df_test_raw['xx1'].rolling(3).mean()
df_test_raw['xx2_roll'] = df_test_raw['xx2'].rolling(3).mean() 
df_test_raw['xx3_roll'] = df_test_raw['xx3'].rolling(3).mean() 
df_test_raw['xx4_roll'] = df_test_raw['xx4'].rolling(3).mean() 
df_test_raw['xx5_roll'] = df_test_raw['xx5'].rolling(3).mean()

In [51]:
df_test = df_test_raw.groupby(['key']).mean().reset_index()

In [52]:
df_test.head()

,key,patient_id,gender,age,x1,x2,x3,x4,x5,x6,xx1,xx2,xx3,xx4,xx5,xx1_roll,xx2_roll,xx3_roll,xx4_roll,xx5_roll
0,1005-1,1005,0,80,41,4,2,1,0,0,57.866667,98.433333,126.566667,42.800000,71.466667,57.940476,98.416667,127.250000,43.190476,71.988095
1,1005-10,1005,0,80,41,4,2,0,0,0,75.766667,97.333333,126.933333,48.400000,71.866667,75.644444,97.077778,126.166667,48.377778,71.600000
2,1005-11,1005,0,80,41,4,2,1,0,0,65.666667,92.166667,109.000000,48.633333,65.600000,65.866667,92.488889,109.722222,48.655556,65.833333
3,1005-12,1005,0,80,41,4,2,1,0,0,64.600000,94.933333,124.200000,55.400000,75.133333,64.622222,94.688889,124.188889,55.444444,75.055556
4,1005-13,1005,0,80,41,4,2,0,0,0,73.800000,97.400000,134.733333,52.366667,77.200000,73.422222,97.322222,133.777778,52.100000,76.811111

In [53]:
df1 = df_test_raw.groupby('key').tail(5).reset_index()
ts = df1.groupby(["key"]).agg({'xx1':['mean','min'],'xx2':['mean','min'],
                         'xx3':['mean','min'], 'xx4':['mean','min'],
                         'xx5':['mean','min']}).reset_index()
ts.columns = ['key','xx1_10_mean','xx1_10_min',
             'xx2_10_mean','xx2_10_min',
             'xx3_10_mean','xx3_10_min',
             'xx4_10_mean','xx4_10_min',
             'xx5_10_mean','xx5_10_min']

In [54]:
df_test = df_test.merge(ts, on = 'key', how = 'left')

In [55]:
stats = df_test_raw.groupby(['patient_id','key']).agg({'xx1':['last'],'xx2':['last'],
                                                        'xx3':['last'],'xx4':['last'],
                                                        'xx5':['last']}).reset_index()
stats.columns = ['patient_id','key','xx1_last','xx2_last',
                 'xx3_last','xx4_last','xx5_last']
stats.drop(['patient_id'], axis = 1, inplace = True)
df_test = df_test.merge(stats, on = 'key', how = 'left')

In [56]:
df_test.head()

,key,patient_id,gender,age,x1,x2,x3,x4,x5,x6,...,xx3_10_min,xx4_10_mean,xx4_10_min,xx5_10_mean,xx5_10_min,xx1_last,xx2_last,xx3_last,xx4_last,xx5_last
0,1005-1,1005,0,80,41,4,2,1,0,0,...,110.0,37.8,35.0,63.4,60.0,55.0,99.0,116.0,36.0,61.0
1,1005-10,1005,0,80,41,4,2,0,0,0,...,120.0,48.8,46.0,71.8,68.0,71.0,100.0,124.0,46.0,68.0
2,1005-11,1005,0,80,41,4,2,1,0,0,...,102.0,47.4,46.0,64.4,62.0,65.0,89.0,105.0,46.0,62.0
3,1005-12,1005,0,80,41,4,2,1,0,0,...,97.0,48.0,40.0,68.4,58.0,68.0,97.0,108.0,47.0,68.0
4,1005-13,1005,0,80,41,4,2,0,0,0,...,132.0,53.4,52.0,77.6,76.0,76.0,99.0,132.0,52.0,76.0

In [57]:
df_test.head()

,key,patient_id,gender,age,x1,x2,x3,x4,x5,x6,...,xx3_10_min,xx4_10_mean,xx4_10_min,xx5_10_mean,xx5_10_min,xx1_last,xx2_last,xx3_last,xx4_last,xx5_last
0,1005-1,1005,0,80,41,4,2,1,0,0,...,110.0,37.8,35.0,63.4,60.0,55.0,99.0,116.0,36.0,61.0
1,1005-10,1005,0,80,41,4,2,0,0,0,...,120.0,48.8,46.0,71.8,68.0,71.0,100.0,124.0,46.0,68.0
2,1005-11,1005,0,80,41,4,2,1,0,0,...,102.0,47.4,46.0,64.4,62.0,65.0,89.0,105.0,46.0,62.0
3,1005-12,1005,0,80,41,4,2,1,0,0,...,97.0,48.0,40.0,68.4,58.0,68.0,97.0,108.0,47.0,68.0
4,1005-13,1005,0,80,41,4,2,0,0,0,...,132.0,53.4,52.0,77.6,76.0,76.0,99.0,132.0,52.0,76.0

In [58]:
test_map_pred = model.predict(df_test.drop(['key','patient_id'],axis = 1))

In [59]:
test_hr_pred = model_hr.predict(df_test.drop(['key','patient_id'],axis = 1))
#test_map_pred = model.predict(df_test)

In [60]:
df_test['y_mean_MAP'] = test_map_pred
df_test['y_mean_HR'] = test_hr_pred

In [61]:
df_submit = df_test[['key','y_mean_MAP','y_mean_HR']]

In [64]:
df_submit.head()

       key  y_mean_MAP  y_mean_HR
0   1005-1   64.612427  55.513851
1  1005-10   70.592316  75.771942
2  1005-11   64.253403  65.760674
3  1005-12   68.385178  62.693153
4  1005-13   77.248283  75.314697

In [71]:
df_submit = df_submit.groupby('key').mean()

In [72]:
df_submit.head()

         y_mean_MAP  y_mean_HR
key
1005-1    64.612427  55.513851
1005-10   70.592316  75.771942
1005-11   64.253403  65.760674
1005-12   68.385178  62.693153
1005-13   77.248283  75.314697

In [73]:
df_submit.to_csv("no_one_9.csv")